{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "linebreak-style": ["error", "windows"]
  },
  "plugins": ["html"]
}